$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$contentMaxWidth: 1070px;
$navHeight: 100px;
$cImageColor: rgb(187, 255, 118);
$cMainStr: rgb(255, 147, 0);
$cReleaseColor: #787878;
